.blog {
  color: grey;
  padding-top: 5px;
  font-size: 15px;
}

.notification {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.error {
  color: red;
}

.success {
  color: green;
}
